* { box-sizing: border-box; }
html, body {
	background: #222;
	color: #ddd;
	font-family: Nunito, sans, mono;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
body > div {
	max-width: 800px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 1px solid #999;
	padding: 1em;
}
body > div > h1 {
	padding: 0;
	margin: 0;
	margin-bottom: .5em;
}
p {
	text-align: justify;
	text-justify: inter-character;
}
h1 { font-weight: 600; }
a {
	text-decoration: none;
	color: inherit;
	border-bottom: .2em solid;
}
a:visited { border-color: #444; }
a:hover,a:focus { border-color: #f90; }
ul { list-style-type: none; }
ol { padding-left: 1.5em; }
li { margin: .3em; }
ul li::before { content: "» "; }

pre {
	overflow: auto;
	background: #444;
	-moz-tab-size: 3;
	tab-size: 3;
}
div > pre {
	margin-left: -1em;
	margin-right: -1em;
	margin-top: -0.5em;
	margin-bottom: -0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em; 
	padding-right: 1em;
}
code {
	background: #444;
	padding: 0.1em;
	font-size: 12px;
	font-weight: 600;
}
pre > code {
	background: inherit;
	padding: 0;
}
blockquote {
	margin: 0;
	padding-left: 0.8em;
	border-left: 0.2em solid;
}
div header { 
	float: right;
	color: #999;
}

pmeta { display: none }

@media only screen and (max-width: 800px) {
	html, body { font-size: 14px; }
	body div {
		margin: 1em;
		border: 0;
	}
	ul { padding-left: .5em; }
	div > pre {
		margin-left: -2em;
		margin-right: -2em;
		padding-left: 1em;
		padding-right: 1em;
	}
}